body {
  -webkit-text-size-adjust: 100%;
  font: 14px/21px "Bitter", Georgia, serif;
  background: #fbf3ef;
  color: #1a1a1a; }

h1, h2, h3, h4, h5, h6 {
  color: #74a497;
  font-weight: 300;
  font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

p {
  margin: 0 0 20px 0;
  font-family: 'Bitter', serif; }

p img {
  margin: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold;
  color: #333; }

small {
  font-size: 80%; }

a:hover, a:focus {
  color: #000; }

.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px; }

header {
  background: #93b8ae;
  border-bottom: 4px solid #c1d6d1;
  padding: 20px 0 15px 0; }
  header h1 {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Helvetica Neue", sans-serif;
    font-weight: 700;
    line-height: 0.80em;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px #517b6f;
    color: #fbf3ef; }
  header span {
    color: #5f5c67;
    font-family: "Bitter", Georgia, serif;
    font-style: italic;
    font-size: 13px;
    display: block;
    margin-top: 5px;
    line-height: 1em; }
  header ul {
    float: right; }
    header ul li {
      display: inline-block;
      padding: 15px 0 5px 25px;
      font-size: 15px;
      color: #624e5a; }
      header ul li a {
        text-decoration: none;
        color: #fee4df; }
        header ul li a:hover {
          color: #fcc2b8; }
  header .avatar {
    height: 80px; }
    header .avatar img {
      margin-left: 8px;
      margin-top: -38px; }

section {
  margin: 0px auto;
  padding: 50px 0;
  border-bottom: 1px solid #f3dbce;
  font-size: 26px;
  line-height: 1.3em;
  text-align: center;
  color: #304345; }
  section p {
    margin: 12.5px; }
  section span {
    font-size: 16px; }

#main {
  padding: 50px 0;
  border-bottom: 1px solid #f3dbce; }
  #main article h2 span:before, #main article h2 span:after {
    width: 60%; }
  #main h2 {
    line-height: 0.3;
    text-align: center;
    color: #3b5254;
    font-family: "Raleway", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 25px; }
    #main h2 span {
      display: inline-block;
      position: relative; }
      #main h2 span:before, #main h2 span:after {
        content: "";
        position: absolute;
        height: 2px;
        border-bottom: 1px dotted #a2c2ba;
        border-top: 1px dotted #93b8ae;
        top: 0;
        width: 20%; }
      #main h2 span:before {
        right: 100%;
        margin-right: 20px; }
      #main h2 span:after {
        left: 100%;
        margin-left: 20px; }
  #main article .readMore {
    text-transform: uppercase;
    font-family: "Raleway", "Helvetica Neue", sans-serif;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #524656;
    float: right; }
    #main article .readMore:hover {
      color: #87748e; }
  #main article p {
    font-size: 16px;
    padding: 0 0 0 25px;
    margin: 5px 0 15px 0;
    line-height: 23px;
    color: #404040; }
    #main article p:last-child {
      margin-bottom: 0; }
  #main article h3 a {
    font-size: 1.3em;
    text-decoration: none;
    color: #4f4453; }
    #main article h3 a:hover {
      color: #87748e; }
  #main article h3 time {
    text-transform: uppercase;
    font-size: 0.6em;
    font-family: "Raleway", "Helvetica Neue", sans-serif;
    word-spacing: 2px;
    margin-left: 5px;
    color: #ecc5b2; }
  #main aside li {
    list-style-type: none;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    clear: both;
    font-size: 16px; }
    #main aside li span {
      display: block;
      color: #bcb6a7;
      font-family: "Raleway", "Helvetica Neue", sans-serif;
      text-transform: uppercase; }
    #main aside li a {
      text-decoration: none;
      color: #789993;
      font-size: 0.9em; }
      #main aside li a:hover {
        color: #506f72; }
      #main aside li a strong {
        color: #627f7c; }
    #main aside li i {
      font-size: 40px;
      float: left;
      color: #524656;
      margin-right: 10px; }
    #main aside li .icon-twitter {
      color: #65bce7; }
    #main aside li .icon-dribbble {
      color: #ef7aa7; }
    #main aside li .icon-linkedin {
      color: #00a4e4; }
    #main aside li .icon-facebook {
      color: #4c70ba; }

footer {
  color: #423845; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  header h2 {
    font-size: 30px; }
  header span {
    font-size: 12px; }
  header ul li {
    padding: 5px 0 5px 30px;
    font-size: 15px; } }
