@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Source+Sans+Pro:300,400,700);
/*
* Copyright 2013, Nicole Dominguez
* Tools used: Skeleton, Github, Adobe Creative Cloud, Sublime Text 2
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  background: #2f2b3f;
  color: #e3e3e3; }

h1, h2, h3, h4, h5, h6 {
  color: #79b7b0;
  font-weight: normal;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: -0.04em;
  font-weight: 300; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 115px;
  line-height: 60px;
  margin-bottom: 16px;
  text-indent: -9999px;
  background-image: url("../img/nicole-dominguez.png");
  background-repeat: no-repeat;
  width: 570px;
  height: 270px;
  padding-left: 25px;
  background-size: 70%;
  margin-bottom: 35px;
  margin-top: 50px;
  float: left; }

h2 {
  font-size: 42px;
  line-height: 48px;
  margin: 25px 0 50px; }
  h2 span {
    color: #c7bcd1;
    display: block;
    font-weight: 400;
    font-size: 28px;
    text-align: right; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

p {
  margin: 0 0 20px 0;
  font-family: "Bitter", Copse, Cambria, Georgia, serif; }

p img {
  margin: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

small {
  font-size: 80%; }

a:hover, a:focus {
  color: #000; }

ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside;
  padding: 25px;
  font-family: "Bitter", Copse, Cambria, Georgia, serif;
  font-size: 20px; }
  ul li {
    line-height: 30px;
    margin-bottom: 10px;
    color: #5c547c; }
    ul li a {
      text-decoration: none;
      color: #bbdbd7; }
      ul li a:hover {
        color: #8ac0ba; }

header ul {
  padding-top: 90px; }
  header ul li {
    font-size: 22px;
    text-align: right;
    color: #413d4f; }

.hireme {
  padding: 25px;
  box-sizing: border-box; }
  .hireme ul {
    width: 56%;
    float: left;
    padding: 0px; }
    .hireme ul li {
      width: 48%;
      float: left;
      margin-right: 4%;
      line-height: 24px;
      margin-top: 8px;
      margin-bottom: 24px; }
      .hireme ul li:nth-child(2n) {
        margin-right: 0; }
      .hireme ul li a:hover {
        color: white;
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in; }
      .hireme ul li span:hover {
        color: white; }
      .hireme ul li i {
        margin-right: 2px;
        font-size: 18px;
        color: #628d8e;
        text-shadow: 0px -1px 0px #242130; }
      .hireme ul li span {
        display: block;
        font-size: 13px;
        color: #8ac0ba;
        text-shadow: 0px -1px 0px #242130; }
  .hireme aside {
    width: 40%;
    float: right;
    font-family: "Bitter", Copse, Cambria, Georgia, serif; }
    .hireme aside p {
      font-size: 16px;
      line-height: 22px; }
    .hireme aside a {
      background: #79b7b0;
      display: block;
      text-align: center;
      padding: 8.33333px;
      font-size: 20px;
      text-decoration: none;
      color: #2f2b3f;
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 0px -1px 0px #9ac9c4;
      box-shadow: 0px 3px 0px #47837d;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 3px solid transparent; }
      .hireme aside a:hover {
        text-shadow: 0px -1px 0px #685f8b;
        background: #585076;
        box-shadow: 0px 3px 0px #46405d;
        top: 2px;
        position: relative;
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in; }

footer {
  color: #514a6c;
  text-shadow: 0px -1px 0px #181621; }
  footer a {
    color: #685f8b;
    text-decoration: none; }
    footer a:hover {
      color: #9e97b8; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  header ul {
    padding-top: 85px; }
    header ul li {
      font-size: 20px;
      line-height: 28px; }
  header h1 {
    background-size: 65%;
    margin-bottom: 0px;
    height: 310px; }

  h2 span {
    font-size: 24px; }

  .hireme ul {
    width: 56%; }
    .hireme ul li {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px; }
      .hireme ul li span {
        font-size: 12px; }
  .hireme aside {
    width: 38%; }
    .hireme aside p {
      font-size: 13px;
      line-height: 20px; } }
@media only screen and (max-width: 767px) {
  header h1 {
    width: 100%;
    background-size: 90%;
    height: 220px;
    padding: 0;
    margin: 25px; }
  header ul {
    padding-top: 25px; }
    header ul li {
      font-size: 15px;
      line-height: 1.4em; }

  .hireme aside, .hireme ul {
    width: 100%;
    padding: 0; }
  .hireme ul li {
    font-size: 24px; }
  .hireme aside {
    width: 90%;
    margin: 0px auto;
    float: none; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container .nine.columns.alpha {
    width: 52% !important; }
  .container .seven.columns {
    width: 48% !important; }

  h2 {
    padding: 25px 50px;
    margin-top: -5%;
    font-size: 36px; }
    h2 span {
      font-size: 26px;
      width: 95%;
      line-height: 1.4em;
      margin-left: 5%; }

  footer {
    padding: 25px; }

  .twelve ul {
    margin-left: 10%; } }
@media only screen and (max-width: 479px) {
  header h1 {
    background-size: 100%;
    margin: 30px 0 0 0;
    padding: 0;
    height: 190px; }
  header ul {
    margin-bottom: 25px; }
    header ul li {
      font-size: 18px; }

  h2 {
    font-size: 32px;
    margin-top: -10%;
    padding: 25px 0;
    margin-bottom: 25px; }
    h2 span {
      font-size: 26px;
      line-height: 1.4em; }

  .hireme {
    margin: 0;
    padding: 0; }
    .hireme ul {
      padding: 0;
      margin: 0;
      margin-bottom: 25px; }
      .hireme ul li {
        width: 100%; }
        .hireme ul li span {
          font-size: 16px; }
    .hireme aside {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 25px; } }
