/*
* Copyright 2013, Nicole Dominguez
* Tools used: Skeleton, Bourbon, Neat, Jeykll, Github, Adobe Creative Cloud, Sublime Text 2
*/

//* { background: rgba(0,0,0,0.1);}

// Variables
$offWhite: #e3e3e3;
$offBlack: #1a1a1a;
$teal: #6a908a;
$plum: #635063;
$pink: #ff6e83;

$gutter: 1em;

$sans-serif: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Adelle", "Bitter", Baskerville, Georgia, serif;

@import 'layout.scss';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import '../css/normalize.css';

// General
body {
	background-color: #F7F6E4;
	color: #4A4B50;
	font-size: 12px;
	text-align: center;
	font-family: $sans-serif;
	-webkit-font-smoothing: antialiased;
}

a { color: $pink; text-decoration: none; }
a:hover { color: #000; }

// Typography
h1, h2, h3, h4, h5, h6 {
	color: $teal;
	font-weight: normal; 
	font-size: 100%;
	font-family: $sans-serif;
	letter-spacing: -0.02em;
	font-weight: 300;
}
h2 {
	font-size: 1.7em;
	font-weight: bold;
	a {
		color: darken($plum, 2%);
		text-decoration: none;
		&:hover { color: lighten($plum, 13%); }
	}
}

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }
p {
	font-size: 1em;
	line-height: 1.6em;
	margin: $gutter 0px $gutter 0px;
	padding: 0;
}
blockquote {
	margin-top: 1.6em;
	margin-left: 2em;
	border-left: 0.5em solid lighten($teal, 30%);
	
	p {
		font-size: 14px;
	font-family: $serif;
	line-height: 22px;
	font-style: italic;
	}	
}

// Ya know, styles n shit
.container { @include outer-container; }

header {
	background: #635063;
	border-bottom: 5px solid #7f677f;
	margin-bottom: 40px;
	img {
		width: 100%;
		max-width: 370px;
		padding: 20px;
	}
}

section {
	font-size: 1.6em;
	text-align: left;
	margin: 1em auto 2em;
	 @include span-columns(10); 
	 @include shift(1);

	line-height: 1.5em;
}

aside {
	font-family: $serif;
	margin-bottom: $gutter*2;
	font-size: 0.6em;

	span {
		padding-right: 8px;
		padding-left: 8px;
	}
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: disc;
	width: 80%;
	font-size: 1.1em;
	margin: 0px auto;

	li p {
		padding: 0px;
		margin: 0 0 15px 0;

		font-size: 0.9em;
	}
}

sup a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	color: $teal;
	padding-bottom: 8px;
	padding-left: 1px;
}

hr {
	background: #c1d2cf;
	height: 1px;
	border: 1px;
}

.footnotes {
	a { font-size: 14px; }
	ol { padding: 10px; }

	p {
		font-family: $sans-serif;
		margin: 0px;
		display: inline-block;
	}
}

footer {
	color: #666;
	width: 75%;
	text-align: center;
	margin: 1em auto 2em;
	border-top: 1px solid lighten($teal, 35%);
	overflow: hidden;

	p { font-size: 1.3em; padding: 0; text-align: center; }
	.meta {
		float: left;
		width: 32%;
		margin-right: 1%;
		&:last-child {
			margin-right: 0px;
		}
	}
}

.pagination { 
 font-size: 1.3em; 
 }

.twitter-tweet {
	text-align: center;
	margin: 0px auto !important;
}


// Media Queries
@media only screen and (min-width: 768px) and (max-width: 959px) {


	header { margin-bottom: 2em; }

}

@media only screen and (max-width: 767px) {


		header { margin-bottom: 1em; }

}

@media only screen and (max-width: 479px) {


			header { margin-bottom: 0; }

}
