@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Source+Sans+Pro:300,400,700);
@import url(../css/normalize.css);
/*
* Copyright 2013, Nicole Dominguez
* Tools used: Skeleton, Bourbon, Neat, Jeykll, Github, Adobe Creative Cloud, Sublime Text 2
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #F7F6E4;
  color: #4A4B50;
  font-size: 12px;
  text-align: center;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #ff6e83;
  text-decoration: none; }

a:hover {
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  color: #6a908a;
  font-weight: normal;
  font-size: 100%;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300; }

h2 {
  font-size: 1.3em;
  font-weight: bold; }
  h2 a {
    color: #5d4b5d;
    text-decoration: none; }
    h2 a:hover {
      color: #886e88; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

small {
  font-size: 80%; }

p {
  font-size: 21px;
  line-height: 28px;
  margin: 20px 0px 20px 0px;
  padding: 0; }

blockquote {
  margin-top: 1.6em;
  margin-left: 2em;
  border-left: 0.5em solid #c1d2cf; }
  blockquote p {
    font-size: 14px;
    font-family: "Kepler Std", "Bitter", Baskerville, Georgia, serif;
    line-height: 22px;
    font-style: italic; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

header {
  background: #635063;
  border-bottom: 5px solid #7f677f;
  margin-bottom: 40px; }
  header img {
    width: 100%;
    max-width: 370px;
    padding: 20px; }

section {
  font-size: 1.6em;
  text-align: left;
  margin: 1em auto 2em;
  line-height: 1.5em; }

aside {
  font-family: "Kepler Std", "Bitter", Baskerville, Georgia, serif;
  margin-bottom: 2em;
  font-size: 0.6em; }
  aside span {
    padding-right: 8px;
    padding-left: 8px; }

ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: disc;
  width: 80%;
  font-size: 1.1em;
  margin: 0px auto; }
  ul li p {
    padding: 0px;
    margin: 0 0 15px 0;
    font-size: 0.9em; }

sup a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  vertical-align: top;
  color: #6a908a;
  padding-bottom: 8px;
  padding-left: 1px; }

hr {
  background: #c1d2cf;
  height: 1px;
  border: 1px; }

.footnotes a {
  font-size: 14px; }
.footnotes ol {
  padding: 10px; }
.footnotes p {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  display: inline-block; }

footer {
  color: #666;
  width: 75%;
  text-align: center;
  margin: 1em auto 2em;
  border-top: 1px solid #d0dcda;
  overflow: hidden; }
  footer p {
    font-size: 1.3em;
    padding: 0;
    text-align: center; }
  footer .meta {
    float: left;
    width: 32%;
    margin-right: 1%; }
    footer .meta:last-child {
      margin-right: 0px; }

.pagination {
  font-size: 1.3em; }

.twitter-tweet {
  text-align: center;
  margin: 0px auto !important; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  header {
    margin-bottom: 2em; } }
@media only screen and (max-width: 767px) {
  header {
    margin-bottom: 1em; } }
@media only screen and (max-width: 479px) {
  header {
    margin-bottom: 0; } }
