<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} | Thoughts by Nicole Dominguez</title>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">

		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="alternate" type="application/rss+xml" title="RSS Feed for sodevious.me" href="/feed.xml" />


		<script type="text/javascript" src="//use.typekit.net/zmq1doi.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

	<body>
		<header>
			<h1>
				<a href="/"><img src="http://nicoledominguez.com/img/nicole-dominguez-logo.png" alt="Nicole Dominguez" /></a>
			</h1>
		</header>

		<div class="container">
			{{ content }}
		</div>

		<footer>
			<div class="meta">
				<p>
					nicoledominguez@me.com<br />
					<a href="/archives">see archives</a><br />
				</p>
			</div>

			<div class="meta">
				<p>
					<a href="http://github.com/sodevious/">github.com/sodevious</a><br />
					<a href="http://twitter.com/sodevious/">twitter.com/sodevious</a><br />
				</p>
			</div>

			<div class="meta">
				<p>This blog is a work in <a href="https://github.com/sodevious/sodevious-blog">progress</a>.</p>

				<p><a href="http://sodevious.me/feed.xml">XML Feed</a></p>
			</div>
		</footer>

		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-4689236-15']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>